# Diabetes Data-set

### Diabetes data set for prediction

https://www.kaggle.com/datasets/pritsheta/diabetes-dataset

![image.png](../Images/Diabetes.png)

### Library & Data Import

In [2]:
import numpy as np
import pandas as pd

In [3]:
X_train = pd.read_csv('../Datasets/Diabetes_X_train.csv')
X_test = pd.read_csv('../Datasets/Diabetes_X_test.csv')
y_train = pd.read_csv('../Datasets/Diabetes_y_train.csv')

In [4]:
X_train

,ID,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,8,126,88,36,108,38.5,0.349,49
1,1,0,74,52,10,36,27.8,0.269,22
2,2,1,140,74,26,180,24.1,0.828,23
3,3,6,162,62,0,0,24.3,0.178,50
4,4,2,94,68,18,76,26.0,0.561,21
...,...,...,...,...,...,...,...,...,...
609,761,5,104,74,0,0,28.8,0.153,48
610,762,4,132,86,31,0,28.0,0.419,63
611,763,6,80,66,30,0,26.2,0.313,41
612,764,8,197,74,0,0,25.9,1.191,39
613,766,2,56,56,28,45,24.2,0.332,22

In [5]:
X_test

,ID,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,13,1,97,68,21,0,27.2,1.095,22
1,18,8,100,76,0,0,38.7,0.190,42
2,29,2,71,70,27,0,28.0,0.586,22
3,33,1,119,86,39,220,45.6,0.808,29
4,34,4,85,58,22,49,27.8,0.306,28
...,...,...,...,...,...,...,...,...,...
149,751,6,134,70,23,130,35.4,0.542,29
150,752,4,151,90,38,0,29.7,0.294,36
151,759,1,82,64,13,95,21.2,0.415,23
152,765,9,184,85,15,0,30.0,1.213,49
153,767,8,188,78,0,0,47.9,0.137,43

In [6]:
y_train

      ID  Outcome
0      0        0
1      1        0
2      2        0
3      3        1
4      4        0
..   ...      ...
609  761        0
610  762        0
611  763        0
612  764        1
613  766        0

[614 rows x 2 columns]